.container-Header{
    width: 70%;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-Header > div{
    font-family: 'Indie Flower', cursive;
    font-size: 36pt;
}
.container-Header > img{
    width: 20%;
    height: 20%;
}