.container-Reg{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
}
.container_form-Reg{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-weight: 300;
}
.user_form-Reg{
    display: flex;
    flex-direction: column;
}

.container_form-Reg >div:first-child{
    font-size: 26pt;
}
.input_group-Reg{
    margin-top:10%; 
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}
.input_group-Reg input{
    border: 0;
    border-style:solid;
    border-color: #d2d2d3;
    border-bottom-width: 2px; 
    font-size: 14pt;
}
.input_group-Reg input:focus{
    border-color:#34347a;
    outline-offset:0;
    outline: none;
}
.bt-Reg{
    padding: 10px;
    background-color: #0091EA;
    color: #fff;
    text-align: center;
    transition: 0.2s;
}
.bt-Reg:hover{
    cursor: pointer;
    background-color: #81ba3c;
}
.group_pass-Reg{
    position: relative;
}
.group_pass-Reg img{
    position: absolute;
    top:0;
    width: 10%;
    right: 0;
}
.group_pass-Reg input{
    width: 100%;
}
.group_pass-Reg img:hover{
    cursor: pointer;
}
.toast{
    position: absolute;
    right: 0;
    padding: 15px;
    background-color:#000000b8;
    color: #fff;
    font-family: 'Roboto';
    font-weight: 300;
    animation-name: toast;
    animation-duration: 1s;
}
@keyframes toast{
    from{
        top:15%;
        opacity:0;
    }
    to{
        top:0;
        opacity:1;
    }
}
.done_popup_container{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left:0;
    background-color: #000000b8;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.done_popup{
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    
}
.done_popup >div{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 24pt;
    color: #81ba3c;
    animation-name: doneSignUp;
    animation-duration: 1s;
}
@keyframes doneSignUp{
    from{
        opacity:0;
    }
    to{
        opacity: 1;
    }
}